# Ignore Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env

# Node modules (for React)
node_modules/

# Build output
build/
dist/

# Others (optional)
*.log
*.sqlite3
